@charset "utf-8";
/*About GFR미디어쿼리*/


/*
[미디어쿼리 사이즈별 세팅의 기준]
1. 디자인 상 필요한 사이즈에 셋팅한다 1200 /1024 / 768 /375
2. 1024픽셀 사이즈에 셋팅한다 - 태블릿사이즈 기준으로 본다 (아이패드 가로크기)
3. 모바일 사이즈는 세로로 볼 때 사이즈를 포함하며 가로로 볼 때 사이즈를 포함하지 않는 사이즈를 정한다(여기서는 500픽셀로 본다)
*/

/*
[미디어쿼리를 보다 쉽게 변경하는 방법]
1. 레이아웃박스를 %로 셋팅한다 (100%로 변경하는 경우 많다)
2. 내부박스의 높이값을 개별적으로 주기
3. position absolute박스를 static하게 변경하여 위치를 차지하게한다
4. 브라우저 분석기로 열고 우선 속성을 변경하여 적용될 때 이것을 복사하여 붙인다

*/

@media only screen and (max-width: 1200px) {

    /*1. 인트로*/
    .cont1_title {
        font-size: 45px;
        padding: 5% 5%;
    }

    .cont1_menu {
        font-size: 30px;
        right: -30%;
    }

    /*2. 멤버소개*/
    .cont2blank {
        width: 0%;
    }

    #cont2 {
        position: relative;
    }

    #cont2_sns {
        position: absolute;
        left: 0%;
        bottom: -18%;
        display: block;
        width: 5%;
        z-index: 8;
    }

    .cont2_sns {
        display: block;
    }

    .cont2_title {
        padding: 2% 3%;
    }

    .cont2_ban {
        width: 100%;
        background: url(../images/apple/Apple_1.jpg) no-repeat 50%/contain;
    }

    /*3. 앨범소개*/
    .albumtext_box {
        width: auto;
        padding: 5%;
    }

}

/*1200픽셀 미디어쿼리끝***************************************
************************************************************/

@media only screen and (max-width: 1024px) {

    /*1. 인트로*/
    .cont1_menu {
        right: -30%;
    }

    /*2. 멤버소개*/
    #cont2_sns {
        
    height: auto;
    bottom: 28%;
    }

    /*3. 앨범소개*/

    .tracklist_ul {
        font-size: 16px;
    }

    .tracklist_ul li {
        line-height: 40px;
    }

}

/*1024픽셀 미디어쿼리끝***************************************
************************************************************/

@media only screen and (max-width: 768px) {

    /*1. 인트로*/
    .cont1_title {
        font-size: 40px;
    }

    .cont1_menu {
        right: -37%;
    }

    /*2. 멤버소개*/
    #cont2 {
        height: auto;
    }

    .cont2_ban {
        height: 500px;
    }
    #cont2_sns{bottom: auto; top: 65px;
    left: 260px; width: 20%;}
    .cont2_sns{display: flex;}

    .cont2_memberpro li {
        width: 33.33%;
        margin-right: auto;
    }

    .member_info {
        width: 100%;
        height: 50%;
    }
    .member_proimg {
        width: 50%;}
    .member_text {
        width: 50%;}
    .member_text h4 {
    font-size: 30px;
        margin-bottom: 35px;}
    .proclose img{transform: scale(0.8);}

    /*3. 앨범소개*/
    .discograp h5 {
        font-size: 20px;
    }

    .cont3_title h2 {
        font-size: 35px;
    }

    .albuminfo_img {
        margin-top: 18px;
    }

    .albumimg_hover {
        font-size: 16px;
    }

}

/*768픽셀 미디어쿼리끝***************************************
************************************************************/

@media only screen and (max-width: 550px) {
    /*1. 인트로*/
    .cont1_menu {
        right: -40%;}
    
    /*2. 멤버소개*/
    .cont2_title h2 {
    font-size: 25px;
}
    .cont2_title h5 {
    font-size: 11px;
}
    #cont2_sns {
        top: 47px; left: 220px;}
    .cont2_ban {
    height: 400px;
}
    .cont2_memberpro h6 {
        font-size: 13px;}
    .member_info {
        padding: 20px;}

    /*3. 앨범소개*/
    .albumimg_hover {
        font-size: 16px;
        text-align: center;
    }
    /*3-1. 앨범상세페이지*/
    #album_track {
        width: 60%;}
    .album_track {
    width: 85%;
        padding-left: 20px;}
    .tracklist_ul li {
        width: 100%;}

}

/*550픽셀 미디어쿼리끝***************************************
************************************************************/

@media only screen and (max-width: 375px) {
   /*1. 인트로*/
    .cont1_title {
    font-size: 25px;
        padding:20% 5%;
}
    .cont1_menu {
        right: -41%;
    font-size: 16px;}

.back2main {
    right: 1%;
    font-size: 15px;}
.back2main img {
    width: 15px;
    margin-right: 7px;
    vertical-align: -3px;
}
/*2. 멤버소개*/
#cont2_sns {
    top: 40px;
    left: 215px;
}
.cont2_ban {
    height: 300px;
}
.cont2_memberpro li {
    width: 50%;
}
.member_info {
    height: 30%;
}
.member_text h4 {
    font-size: 20px;
    margin-bottom: 30px;
}
.member_text{font-size: 12px;}
/*3. 앨범소개*/
.cont3_title h2 {
    font-size: 25px;
}
.discograp h5 {
    font-size: 16px;
}
.albumimg_hover {
    font-size: 11px;
 }
/*앨범클릭시*/
.albuminfo_img {
    width: 75%;}
#album_track {
    width: 100%;
}
.tracklist_ul {
    font-size: 14px;
}
.album_track h4 {
    font-size: 30px;}
.tracklist_ul li {
    line-height: 30px;
}
.albuminfo_main {
    padding: 0; transform: translateX(10%);}

}
/*375픽셀 미디어쿼리끝***************************************
************************************************************/

